* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(assets/background.png);
    background-size: contain;
}

header {
    background-color: #FFEDE1;
    width: 100%;
    height: 115px;
    left: 0px;
    top: 0px;
    align-items: center;
    display: flex;
}

.foot-img {
    width: 3em;
    height: fit-content;
    align-self: center;
    margin-left: 4em;
}

.app-name {
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #0E1C36;
    font-family: 'Roboto', sans-serif;
}

.dog-img {
    width: 12em;
    height: inherit;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    border-radius: 24px;
    width: 18em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -1em;
    padding: 1.5em 1.3em;
}

.info-title {
    font-family: 'Roboto', sans-serif;
    line-height: 1.9em;
    font-size: 0.95em;
}

.info {
    font-family: 'Roboto', sans-serif;
    line-height: 1.9em;
    font-size: 0.95em;
    margin-left: 15px;
}

.info img {
    width: 12px;
    margin-left: 3px;
    height: 8px;
}

.google-btn {
    width: 10em;
    height: 3.5em;
    border-radius: 0.5em;
    border: 0;
    outline: none;
    color: #ffffff;
    background: #000000;
    font-weight: 600;
    font-size: 0.9em;
    background-image: url(assets/google.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 1.8em;
    background-position-y: center;
    background-position-x: 0.8em;
    padding-left: 3.4em;
    position: absolute;
    right: 3em;
    bottom: 3em;
    display: flex;
    flex-wrap: wrap;
}

.google-small {
    font-weight: 200;
    font-size: 0.7em;
    align-self: flex-end;
    margin-bottom: 4px;
}